.rel-container {
  background: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  margin: 50px 60px;
}

.rel-section {
  width: 100%;
  padding: 30px 60px;
  position: relative;
  /* margin-top: 10px; */
}

.rel-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.rel-section-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.rel-section-header p {
  font-size: 14px;
  color: gray;
}

.rel-view-all {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.rel-carousel-wrapper {
  position: relative;
}

.rel-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
  scrollbar-width: none;
}

.rel-carousel::-webkit-scrollbar {
  display: none;
}

.rel-card {
  flex: 0 0 230px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  border: 1.5px solid transparent; /* keeps size stable */
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.rel-card:hover {
  border-color: rgb(73, 117, 145); /* visible border on hover */
  box-shadow: 0 3px 12px rgba(73, 117, 145, 0.15); /* optional soft highlight */
}

.rel-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.rel-card-body {
  padding: 12px;
}
.rel-image-slide {
  display: flex;
  justify-content: center;
}
.rel-card-body h4 {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
}

.rel-price-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rel-tag {
  /* background: #d6dcdf;
  color: black;
  padding: 2px 8px;
  font-size: 12px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 60px;
  display: flex;
  justify-content: center;
  margin-left: -20px; */
  margin: 0px;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 500;
    color: rgb(254, 123, 121);
    display: inline-block;
    left: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    line-height: 1.3;
}

.rel-price-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.rel-price {
  font-weight: 600;
}

.rel-discount {
  background-color: #f7e4ab;
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 10px;
}

.rel-old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 10px;
}

.rel-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid rgb(119, 119, 119);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  background: white;
}

.rel-arrow.rel-left {
  left: -20px;
}

.rel-arrow.rel-right {
  right: -20px;
}

.rel-arrow-icons {
  font-weight: 300;
  color: rgb(119, 119, 119);
}