/* .search-product-container {
    margin-top: 100px;
    padding: 0 60px;
    margin-bottom: -50px;
}
.search-product-container h2{
    color: rgb(119, 119, 119);
    font-family: "Work Sans";
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
} */
