.buypage-container {
    margin-top: 100px;
    padding: 24px 0;
}
.buypage-container h2 {
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: 'Recline', sans-serif;
}
.buypage-category {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 64px;
  justify-content: center;
  /* margin-top: 40px; */
  padding: 16px 0 0 0;
}

.card-buy {
  width: 120px;
  text-align: center;
  cursor: pointer;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.card-buy img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-buy h3 {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
