.cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    /* margin: 100px 60px; */
    padding: 0 60px;
    margin-top: 100px;
}

.cart-delivery-estimate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 14px 24px;
    background-color: #fff;
}

.cart-delivery-estimate-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.truck-icon {
    color: #000;
    font-size: 22px;
}



.delivery-detail span {
    color: #00a2c7;
    text-decoration: underline;
    cursor: pointer;
}

.cart-delivery-estimate-right {
    text-align: right;
}

.cart-delivery-estimate-right button {
    background-color: transparent;
    font-family: "Work Sans", Recline;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(6, 155, 170);
    padding: 2px 15px;
    border-width: 1px;
    border-color: rgba(6, 155, 170, 0.5);
    border-radius: 30px;
}

.price-free {
    margin: 0;
    font-size: 13px;
    color: #00b35a;
    font-weight: 600;
}

/* ✅ Buy Cart & Rent Cart Container Box */
.cart-section-box {
    background: #ffffff;
    border-radius: 14px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    margin-top: 20px;
}
.choose-transport {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.choose-transport .transpport-btn {
    padding: 4px 12px;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(6, 155, 170);
    font-size: 0.6rem;
    background-color: transparent;
}
.choose-transport .transpport-btn.active {
    background-color: rgb(6, 155, 170);
    color: white;
}
/* ✅ Section Header */
.cart-section-header {
    background: #d8f1f3;
    padding: 14px 18px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}

.cart-section-header span {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

/* ✅ Entire cart item */
.cart-item {
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    /* gap: 20px; */
    padding: 10px 25px;
    border-bottom: 1px solid #ececec;
    align-items: center;
}

.cart-item-info {
    cursor: pointer;
}

.cart-item-image {
    position: relative;
    cursor: pointer;
}

.cart-item-image img {
    height: auto;
    width: 100px;
    object-fit: cover;
}


.cart-item-title {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(34, 34, 34);
    width: 60%;
    line-height: 1.3;
    font-family: "Work Sans";
}

.cart-item-prices {
    display: flex;
    align-items: center;
    gap: 12px;
}

.old-price {
    margin: 0px 8px 0px 0px;
    font-family: "Work Sans";
    font-size: 10px;
    font-weight: 500;
    color: rgb(188, 188, 188);
    text-decoration: line-through;
    line-height: 1.3;
}

.new-price {
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.discount-badge {
    margin: 0px 8px 0px 0px;
    font-family: "Work Sans";
    font-size: 10px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    padding: 4px 8px;
    border-radius: 9px;
    background-color: rgb(255, 245, 183);
    line-height: 1.3;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.month-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 17px;
    border: 1px solid #00a2c7;
    border-radius: 20px;
    background: #fff;
    width: fit-content;
    font-size: 15px;
    cursor: pointer;
}

.month-container div {
    margin: 0px;
    color: rgb(6, 155, 170);
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
}

.month-icon {
    color: #00a2c7;
}

.qty-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    border: 1px solid #00a2c7;
    border-radius: 20px;
    background: #fff;
    width: fit-content;
}

.qty-minus {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 600;
    color: #00a2c7;
    cursor: pointer;
    width: 20px;
    text-align: center;
    padding: 0;
}

.qty-value {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    width: 20px;
    text-align: center;
}

.qty-plus {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 600;
    color: #00a2c7;
    cursor: pointer;
    width: 20px;
    text-align: center;
    padding: 0;
}

.delete-icon {
    font-size: 20px;
    color: #999;
    cursor: pointer;
    margin-right: 4px;
}

.delete-icon:hover {
    color: #ff4d4d;
}

.cart-right {
    position: relative;
}

.cart-right-fix-box {
    position: absolute;
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 8px 16px;
    position: sticky;
    top: 90px;
}

.clock-wrapper {
    width: 25px;
    height: 25px;
    background-color: #00bcd4;
    /* turquoise-blue */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-clock {
    color: white;
    font-size: 25px;
}

.total-price {
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}

.buy-rent-price-container {
    display: flex;
    justify-content: space-between;
}

.buy-rent-price-container span {
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
}

.left-buy-rent-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.deliver-address {
    margin: 0px;
    color: rgb(34, 34, 34);
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
}

.deliver-address span {
    font-weight: 800;
}

.delivery-full-add {
    margin: 0px;
    color: rgb(153, 153, 153);
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
    display: block;
    line-height: 1.3;
}

/* PARENT */
.empty-cart-container {
    margin-top: 70px;
    text-align: center;
    padding: 40px 20px;
    font-family: "Montserrat", sans-serif;
}

/* Heading */
.empty-cart-container h2 {
    margin: 0px 0px 2px;
    color: rgb(34, 34, 34);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
}

.empty-cart-container p {
    margin: 0px;
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    font-family: "Work Sans" !important;
}

/* IMAGE BOX */
.empty-cart-image-box {
    margin: 30px auto 20px;
    width: 220px;
    height: 220px;
}

.empty-cart-image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* TEXT OPTIONS (BUY / RENT small text above buttons) */
.empty-cart-options {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 450px;
}

.option-left,
.option-right {
    text-align: left;
    margin: 0px;
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    font-family: "Work Sans" !important;
}

.empty-cart-options p {
    margin: 0px;
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    font-family: "Work Sans";
}

/* BUTTONS WRAPPER */
.empty-cart-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 0;
}

/* LEFT BUTTON (BUY) */
.buy-btn {
    background-color: rgb(111, 123, 193);
    color: #fff;
    padding: 16px 40px;
    border: none;
    font-size: 15px;
    border-radius: 40px 0 0 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* RIGHT BUTTON (RENT) */
.rent-btn {
    background-color: rgb(244, 140, 86);
    color: #fff;
    padding: 16px 40px;
    border: none;
    font-size: 15px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-text {
    margin: 0px;
    color: white;
    font-family: Recline;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}

.arrow-left,
.arrow-right {
    font-size: 18px;
}

.breakup-background {
    background-color: rgb(249, 249, 249);
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.breakup-background h4 {
    font-family: "Work Sans", Recline;
    font-weight: 400;
    font-size: .8rem;
    color: rgb(34, 34, 34);
    margin-bottom: 8px;
}

.break-header {
    display: flex;
    justify-content: space-between;
}

.break-header button {
    padding: 4px 12px;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(6, 155, 170);
    font-size: 0.6rem;
    background-color: transparent;
}

.break-icon {
    color: rgb(6, 155, 170);
}

.data-container-parent {
    padding: 10px 20px;
}

.data-container {
    border-bottom: 1px dashed grey;
    margin-bottom: 10px;
}
.break-item-title {
    color: rgb(85, 85, 85);
    line-height: 1;
    font-family: "Work Sans";
    font-size: 10px;
    font-weight: 700;
}
.breakup-item {
    display: flex;
    justify-content: space-between;
    /* left and right alignment */
    padding: 2px 0;
    font-size: .7rem;
    color: rgb(34, 34, 34);
}
.discount-green {
    display: flex;
    justify-content: center;
        font-family: "Work Sans";
    font-size: 10px;
    font-weight: 400;
    color : rgb(29, 148, 40);
}
.reantal-toggle {
    display: none;
    transition: 0.3s ease-in;
}
.reantal-toggle.active {
    display: block;
}
.sale-toggle {
    display: none;
    transition: 0.3s ease-in;
}
.sale-toggle.active {
    display: block;
}
