.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background: linear-gradient(180deg, #F3F3F3 0%, #FFFFFF 99.38%);
    font-family: Arial, sans-serif;
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    padding: 18px 40px;
    width: 100%;
    height: auto;
}
/* Left Content */
.left-content {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo img {
    height: 45px;
    width: 200px;
    cursor: pointer;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #555;
}

.location .icon {
    font-size: 27px;
    color: #555;
}

.location .pincode {
    font-weight: bold;
    color: #000;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(119, 119, 119);
}

.menu-item .icon {
    font-size: 27px;
}

.menu-item .chevron {
    font-size: 14px;
    margin-left: 2px;
}

.menu-item.unlmtd {
    font-weight: 500;
    font-size: 16px;
    color: #6b63ff;
    /* bluish purple */
}

/* Right Content */
.right-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 15px;
    background: #FFFFFF;
    width: 400px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 6px;
    font-size: 14px;
    width: 250px;
}

.search-bar .search-icon {
    font-size: 18px;
    color: #444;
    cursor: pointer;
}

.right-content .icon {
    font-size: 22px;
    cursor: pointer;
    color: #444;
}

/* User Box */
.user-box {
    position: relative;
}



.user-modal div {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: #333;
}

.user-modal div:last-child {
    border-bottom: none;
}



.user-modal {
    position: absolute;
    right: 0;
    top: 37px;
    background: #fff;
    border: 1px solid #00aaff;
    box-shadow: 0 2px 8px rgba(0, 170, 255, 0.25);
    border-radius: 8px;
    overflow: hidden;
    min-width: 200px;
    z-index: 9999;
    font-size: 14px;
    padding: 10px;

    /* Hidden by default */
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: all 0.5s ease;
}

/* Show dropdown on hover */
.user-box:hover .user-modal,
.user-modal:hover {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}


.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #00aaff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 2px 6px;
}