.coupon-offcanvas .offcanvas {
    width: 450px !important;
    z-index: 100000;
}

.coupon-title {
    font-size: 20px;
    font-weight: 600;
}

.coupon-offcanvas-card {
    background-image: url("../Assets/coupon.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
}

.row-head {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Work Sans", Recline;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    margin-left: 10px;
}

.desc {
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    width: 90%;
    margin-left: 10px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.footer-row .code {
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 500;
    color: rgb(147, 117, 23);
    margin-left: 10px;
}
.copy-btn {
    width: 120px;
    height: 40px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(188, 188, 188);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(6, 155, 170);
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 500;
}