.offers-container {
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
}

.offers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offers-header h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.see-all {
  color: #666;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.offers-list {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}
/* HIDE SCROLLBAR Chrome, Safari */
.offers-list::-webkit-scrollbar {
  display: none;
}

/* HIDE SCROLLBAR Firefox */
.offers-list {
  scrollbar-width: none;
}

/* HIDE SCROLLBAR Edge, IE */
.offers-list {
  -ms-overflow-style: none;
}

.offer-card {
  flex: 0 0 300px;
  background-image: url("../Assets/coupon.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding:20px;
  position: relative;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.1); */
}

.offer-icon-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.offer-card h3 {
  color: rgb(34, 34, 34);
  font-family: "Work Sans";
  font-size: 21px;
  font-weight: 600;
}

.offer-card p {
  color: rgb(119, 119, 119);
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 500;
}

.coupon {
  color: rgb(119, 119, 119);
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 500;
}