.fb-container {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.fb-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.fb-header-img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.fb-header h3 {
  font-size: 1.5rem;
  color: rgba(91, 91, 91, 0.467)7d;
  font-weight: 500;
}

.fb-header p {
  font-family: "Work Sans";
  font-size: 11px;
  font-weight: 500;
  color: rgb(119, 119, 119);
}

.fb-carousel-wrapper {
  /* position: relative; */
  overflow: hidden;
  width: 100%;
  align-items: center;
}

.fb-arrow {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  border: 2px solid #7777;
  cursor: pointer;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: #7777;
}



.fb-arrow.fb-left {
  left: -15px;
}

.fb-arrow.fb-right {
  right: -15px;
}

.fb-arrow-icon {
  font-size: 1.6rem;
  color: #444;
}

.fb-slider {
  display: flex;
  gap: 30px;
  transition: transform 0.6s ease-in-out;
}

.fb-slide {
  display: flex;

}

.fb-image {
  width: 340px;
  height: 140px;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .fb-header h3 {
    font-size: 1.6rem;
  }

  .fb-arrow {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .fb-container {
    padding: 20px 10px;
  }

  .fb-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .fb-header h3 {
    font-family: Recline;
    font-size: 24px;
    font-weight: 500;
    color: rgb(85, 85, 85);
  }

  .fb-arrow {
    width: 36px;
    height: 36px;
  }

  .fb-arrow-icon {
    font-size: 1.4rem;
  }
}