.account-layout {
    display: flex;
    margin-top: 100px;
    min-height: 70vh;
    background: #fff;
    padding: 20px 0; /* Remove side padding */
    width: 100%;
    padding: 20px 60px;
    gap: 20px;
}

.sidebar {
    width: 160px;
    border-right: 1px solid rgb(232, 232, 232);
    position: sticky;
    top: 120px;
    font-family: "Work Sans", Recline;
    font-weight: 400;
    font-size: 0.857143rem;
    flex-shrink: 0;
    padding: 0 20px; /* Add padding to sidebar instead */
}

.account-outlet {
    /* flex: 1; */
    width: 100%;
    /* Remove padding-left if you want full width */
}
.sidebar .account-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.sidebar>div {
    /* margin-bottom: 20px; */
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 15px 0;
    cursor: pointer;
}
.sidebar div a {
    text-decoration: none;
    color: inherit;
}
.sidebar>div:hover {
    color: #009e9e;
}

.sidebar p {
    margin: 0;
    line-height: 1.5;
}

.sidebar p:first-child {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.sidebar p:last-child {
    color: #666;
    text-transform: lowercase;
}